body{
    background: #f7f7f7;

}

.photo {
    border-radius: 100px;
}

#title, .subtitle, .post_title{
    color: #505050;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #FFF;
    padding: 20px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 8px 8spx 20px 20px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
}

.post_image{
    margin-bottom: 15px;
}